<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserControll</servlet-name>
        <servlet-class>Controller.UserControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>Controller.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManager</servlet-name>
        <servlet-class>Controller.Admin.ProductManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Controller.Admin.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManager</servlet-name>
        <servlet-class>Controller.Admin.OrderManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManager</servlet-name>
        <servlet-class>Controller.Admin.CustomerManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>Controller.Upload.UploadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductManager</servlet-name>
        <url-pattern>/productmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManager</servlet-name>
        <url-pattern>/ordermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManager</servlet-name>
        <url-pattern>/customermanager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
