<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <servlet>
        <servlet-name>UserControll</servlet-name>
        <servlet-class>Controller.UserControll</servlet-class>
    </servlet>-->
    <!--    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>Controller.Product</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>ProductManager</servlet-name>
        <servlet-class>Controller.Admin.ProductManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Controller.Admin.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManager</servlet-name>
        <servlet-class>Controller.Admin.OrderManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManager</servlet-name>
        <servlet-class>Controller.Admin.CustomerManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>Controller.Upload.UploadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>Controller.Home.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Controller.Home.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>Controller.Home.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Controller.Home.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controller.Home.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Controller.Home.Checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductManager</servlet-name>
        <url-pattern>/productmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManager</servlet-name>
        <url-pattern>/ordermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManager</servlet-name>
        <url-pattern>/customermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
